<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">     
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/styles.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,100&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        rel="stylesheet">
        
    </head>
    <body>
        <header>
    <section class = "primeraSeccionHeader">
        <img class="Logo-ml" src="images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
        <section class = "barra-busqueda-icono">  
            <input class = "barra-busqueda" placeholder="Buscar productos, marcas" type="text"></input>         
            <i class="fa-solid fa-magnifying-glass" id = "icono-lupa"></i>
        </section>
        <h2 class="advertencia-compra-cuotas"><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</h2>
    </section>
<section>
<div class="burger-menu">
    <i class="fas fa-bars"></i>
</div>
</section>
    <form action="/" method="GET" class="formulario" class="formulario">

        <label for="nombre-usuario">Nombre de usuario</label>
        <input type="text" name="nombre-usuario" id="nombre-usuario"/>

        <label for="contraseña">Contraseña</label>
        <input type="password" name="contraseña" id="contraseña"/>

        <button type="submit" class="botonEnviar">Enviar</button>
    </form>
</body>
</html>
